spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ChordJangDB?useSSL=false&serverTimezone=UTC&characterEncoding=UTF-8
    username: root
    password: ${MYSQL_ROOT_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret:
    key: Y2hvcmRqYW5nLWJhY2tlbmQtc2VjcmV0LWtleS1mb3Itand0LXNlY3VyaXR5LW1hbmFnZW1lbnQ=
